<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.levent_j.client">
    <!-- 基础模块（必须加入以下声明）START -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 基础模块 END -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">
        <!--LeanCloud 所需模块-->
        <!-- 实时通信模块、推送（均需要加入以下声明） START -->
        <!-- 实时通信模块、推送都要使用 PushService -->
        <service android:name="com.avos.avoscloud.PushService"/>
        <!--<receiver android:name="com.avos.avoscloud.AVBroadcastReceiver">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED"/>-->
                <!--<action android:name="android.intent.action.USER_PRESENT"/>-->
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>-->


            <!--</intent-filter>-->
        <!--</receiver>-->

        <receiver android:name=".common.MyOrderReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.levent_j.UPDATE_STATUS" />
            </intent-filter>
        </receiver>
        <!-- 实时通信模块、推送 END -->

        <!--主页面-->
        <activity
            android:name=".main.shoplist.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/MyAppTheme.NoActionBar"
            android:taskAffinity="com.levent_j.client.single"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--扫码-->
        <activity
            android:name=".main.scan.ScanActivity"
            android:taskAffinity="com.levent_j.client.common"
            android:theme="@style/MyAppTheme.NoActionBar"/>

        <!--登录-->
        <activity
            android:name=".login.LoginActivity"
            android:taskAffinity="com.levent_j.client.common"
            android:theme="@style/MyAppTheme.NoActionBar"/>

        <!--我的订单列表-->
        <activity
            android:name=".orderlist.MyOrdersActivity"
            android:taskAffinity="com.levent_j.client.common"
            android:theme="@style/MyAppTheme.NoActionBar"/>

        <!--我的个人信息-->
        <activity
            android:name=".info.MyInfoActivity"
            android:taskAffinity="com.levent_j.client.common"
            android:theme="@style/MyAppTheme.NoActionBar"/>

        <!--设置-->
        <activity
            android:name=".setting.SettingActivity"
            android:taskAffinity="com.levent_j.client.common"
            android:theme="@style/MyAppTheme.NoActionBar"/>

        <!--商铺详情-->
        <activity
            android:name=".main.shopdetail.ShopDetailActivity"
            android:taskAffinity="com.levent_j.client.common"
            android:theme="@style/MyAppTheme.NoActionBar"/>

        <!--商铺菜单-->
        <activity
            android:name=".shopping.menu.ShopMenuActivity"
            android:taskAffinity="com.levent_j.client.common"
            android:theme="@style/MyAppTheme.NoActionBar"/>

        <!--交易结算-->
        <activity
            android:name=".shopping.trade.TradeActivity"
            android:taskAffinity="com.levent_j.client.common"
            android:theme="@style/MyAppTheme.NoActionBar"/>

        <!--订单详情-->
        <activity
            android:name=".order.MyMyOrderDetailActivity"
            android:taskAffinity="com.levent_j.client.common"
            android:theme="@style/MyAppTheme.NoActionBar"/>

        <activity android:name=".router.RouterActivity"/>

    </application>

</manifest>